/*DESKTOP*/
.navbar{
    width: 60%;
    height: 80px;
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.containerQuestionNavBar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    cursor: pointer;
}
.containerImgaeNavBar{
    background-color: inherit;
}
.containerImgaeNavBar img{
    background-color: inherit;
}
.containerQuestionNavBar span{
    background-color: inherit;
    padding-left: 10px;
}