* {
  font-family: var(--fuente-principal);
  margin: 0;
  padding: 0;
  background-color: var(--fondo-color);
}

:root {
  --fondo-color: #F6F6FF;
  --header-color: #FFFFFF;
  --text-navbar-color: #f3f8fb;
  --card-color: #7A6BBC;
  --cardText-color: #F6F6FF;
  --border-card-color: #675cb0;
  --footer-color: #ffffff;
  --text-footer-color: #f3f8fb;
  --fuente-principal: "Yanone Kaffeesatz", sans-serif;
}