/*DESKTOP*/
.containerLogo{
    width: 40%;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.containerLogo img{
    cursor: pointer;
    background-color: inherit;
}