/*DESKTOP*/
/*TABLET*/
/*MOBILE*/
.sectionDonativosMobile{
    width: 100%;
    height: auto;
    /* background-color: var(--header-color); */
    padding-bottom: 20px;
}
.containerDonativosMobile{
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: inherit;
}
.containerInfoDonativosMobile{
    width: 100%;
    height: auto;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleDonativosMobile{
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0px;
    background-color: inherit;
}
.containerMiniInfoMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: inherit;
}
.containerMiniInfoMobile span{
    background-color: inherit;
    padding: 5px 0;
}
.containerInfoDonativosMobile ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    background-color: inherit;
}
.containerInfoDonativosMobile li{
    background-color: inherit;
    padding: 5px 0;
}