/*DESKTOP*/
.header{
    width: 100%;
    height: auto;
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}