/*DESKTOP*/
.header{
    width: 100%;
    height: auto;
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*Tablet*/
.headerTablet{
    width: 100%;
    height: auto;
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*MOBILE*/
.headerMobile{
    width: 100%;
    height: auto;
    background-color: var(--header-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 25px 0;
}