/*DESKTOP*/
.sectionContador{
    width: 100%;
}
.infoContador{
    font-size: 14px;
}
/*TABLET*/
/*MOBILE*/
.sectionContadorMobile{
    width: 100%;
    height: auto;
    background-color: inherit;
}
.infoContadorMobile{
    font-size: 12px;
    color: #EA79E9;
    background-color: inherit;
    letter-spacing: -1px;
}
.infoContadorMobile strong {
    background-color: inherit;
    font-size: 13px;
}