/*DESKTOP*/
/*TABLET*/
/*MOBILE*/
.sectionCardPDPMobile{
    padding-top: 10px;
    width: 100%;
    height: auto;
}
.containerCardPDPMobile{
    width: 85%;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #FFFFFF;
}
.containerImageCardPDPMobile{
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}
.containerImageCardPDPMobile img{
    border-radius: 15px;
}
.containerInfoCardMobile{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 0 0 15px 15px;
}
.containerTitlesCardMobile{
    width: 100%;
    height: auto;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.titleNameMobile{
    background-color: inherit;
    font-weight: bold;
    font-size: 20px;
}
.titleBrigadaMobile{
    background-color: inherit;
    font-size: 10px;
    color: #939393;
}
.containerGenderMobile{
    background-color: inherit;
}
.containerStatsMobile{
    width: 100%;
    height: auto;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: inherit;
}
.cardStatsMobile{
    border-radius: 15px;
    width: 30%;
    height: 60px;
}
.containerStatsImageMobile{
    width: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: inherit;
}
.containerStatsInfoMobile{
    width: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
}
.containerStatsInfoMobile span{
    color:#7A6BBC;
    font-size: 15px;
}
.containerDescriptionCardMobile{
    padding-top: 15px;
    width: 100%;
    height: 60px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #BDBDBD;
}
.containerDescriptionCardMobile span{
    background-color: inherit;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.containerConvivenciaCardMobile{
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:15px;
}
.containerImageConvivenciaMobile{
    height: 50%;
    border-radius: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
.containerInfoConvivenciaMobile{
    height: 50%;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}
.containerInfoConvivenciaMobile span{
    color: #EA79E9;
    font-weight: bold;
    text-align: center;
}